{% extends '@Personne/Inscription/base_inscription.html.twig' %}

{% block titre %}{{ 'inscription.register'|trans }}{% endblock %}

{% block body %}
<div>
</div>
<br>
<h1 class="form-heading">{{ 'inscription.confirmation'|trans }}</h1>
<hr>
<div class="login-form">
    <br><br>
    <h3 class="text-white">
        Veuiller <a class="text-left" href="{{ absolute_url(asset(url))  }}">cliquer ici </a> pour activer votre compte
    </h3>

</div>
{% endblock %}

