{% extends '@Personne/Inscription/base_inscription.html.twig' %}

{% block titre %}Information{% endblock %}

{% block body %}
    <div>
    </div>
    <br>
    <h1 class="form-heading"></h1>
    <hr>
    <div class="login-form">
        <br><br>
        <h3 class="text-white">
            Votre enregistrement a bien été effectué. <br>
            Veuillez cliquer sur le lien d'activation envoyé par E-mail.
        </h3>

    </div>
{% endblock %}

