<div class="carousel-item ">
    <fieldset class="groove">

        <div class="row container-fluid">

            <div class="col-12">
                <br>
                <h3 class=" text-center">
                    {{ 'demandeqh_ajouter.info2'|trans }}
                </h3>
                <br>
                <div class="form-group text-center">

                    <div class="maxl">
                        <p>Votre Safahi Chithi</p>
                        <p>Attestation de bon fonctionnement de compte bancaire</p>
                        <p>Attestation de tout solde de compte et de solvabilité (Fait par le secrétaire de QH de votre Moze) ,si c’est pas à Tana.</p>
                        <p>Formulaire de Garantie rempli par le Garant1 de 50% du montant attribué</p>
                        <p>Copie couleur de la pièce d’identité du Garant1</p>
                        <p>Copie couleur de la Carte ITS du Garant1</p>
                        <p>3 Chèques Barré & Non endossable à l’ordre de :Faiz E Mohammedi – Qardan Hasana</p>
                        <p>Formulaire de Garantie rempli par le Garant2 de 50% du montant attribué</p>
                        <p>Copie couleur de la pièce d’identité du Garant2</p>
                        <p>Copie couleur de la Carte ITS du Garant2</p>
                        <p>3chèque Barré & Non endossable à l’ordre de :Faiz E Mohammedi – Qardan Hasana</p>

                    </div>
                </div>
                <button  type="button" class="btn-link btn btn-lg float-left " id="prev6" >{{ 'demandeqh_ajouter.precedent'|trans }}</button>
                <button  type="button" class="btn-link btn btn-lg text-center float-right " id="btn9" >{{ 'demandeqh_ajouter.valider'|trans }}</button>


            </div>

        </div><br>

    </fieldset>
</div>