{% extends '@DemandeQh/demande/BaseDemandQH.html.twig' %}

{% block body_container %}
    <style>
        {% include '@DemandeQh/style.css.twig' %}
    </style>
    <main>

        <div class="stepper">
            <div class="step--3 step-active" style="width:250px">Dossier à préparer</div>
            <div class="step--4"></div>


        </div>


        <form class="form form-active" action="#" method="post">
            <div class="form--header-container">
                <h1 class="form--header-title">
                    FAIZ E MOHAMMADI QARDAN HASANAH
                </h1>

                <p class="form--header-text" >
                    Veuillez envoyer à présent votre dossier complet signé muni de ces documents:
                </p>
            </div>

            <table >
                <tr >
                    <td style="text-align: left">
                        <p><b>DOSSIER :</b></p>
                        <p>
                            Photocopie de votre pièce d'identité
                        </p>
                        <p>
                            Photocopie ITS
                        </p>
                        <p>
                            Formulaire Contrat de prêt
                        </p>
                        <p>
                            Formulaire d'évaluation Rehen
                        </p>
                        <p>
                            Formulaire d'Acte d'engagement
                        </p>
                        <p>
                            Formulaire d'Autorisation de vente
                        </p>
                        <p>
                            Vos chèques de remboursements / 1 chèque Pour chaque mois/  daté du 25 de chaque mois/ Le premier chèque sera daté du mois suivant la validation de votre demande
                        </p>
                        <p>
                            Safahi Chithi
                        </p>
                        <p>
                            Si votre demande  est reçu le
                        </p>
                        <p>
                            3 chèques Non datés du Garant 1
                        </p>
                        <p>
                            Pièce d'Identité Garant 1
                        </p>
                        <p>
                            Photocopie ITS Garant 1
                        </p>
                        <p>
                            3 chèques Non datés du Garant 2
                        </p>
                        <p>
                            Pièce d'Identité Garant 2
                        </p>
                        <p>
                            Photocopie ITS Garant 2
                        </p>
                    </td>

                </tr>

                <tr>
                    <td>
                        <button type="submit" class="btn btn-success">Suivant</button>
{#
                        <a style="text-align: left" href="{{ path('pagetestgarant',{'id':DemandeQh.id}) }}" class="form__btn" id="btn-2-prev">Suivant</a>
#}

                    </td>
                </tr>
            </table>

            <br><br>

        </form>

    </main>
    </main>
{% endblock %}