{% extends '@Back/base_backend.html.twig' %}
{% block sous_menu_titre %}Compte paie du personne :{{ pers.userCompte.nom ~' '~ pers.userCompte.prenom }} {% endblock %}
{% block body_container %}
<style>

</style>
<div class="col-12">
    <div class="row">

    </div>
</div>
