{% extends "@Back/base_backend.html.twig" %}

{% block sous_menu_titre %}
    <style>
        .col-4{margin: 1px;}
        a{text-decoration: none;}
        a:hover{text-decoration: none}

        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
            background-color: #0088CC;
        }
        col-lg .groove {
            border: 1px outset #1b0b0e;
            box-shadow: 4px 4px 0px black;
        }
        h1,h2,h3,label,button,input,select,textarea,p {
            text-shadow: 0.1px 0.1px 1px black;
        }
        td{white-space: nowrap}

        .btn{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);}
        .card{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin: 5px}
        .card:hover{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)}
    </style>
    <h1>Statistique </h1>
{% endblock %}
{% block body_container %}
    <div class="card">
        <div class="card-body">
            <a class="btn btn-lg btn-success" href=""><i class="fa fa-sort-numeric-asc"></i> Statistique</a><br><br>

            <div class="row">
                <div class="col-12">
                    <canvas id="myChart" width="100" height="100"></canvas>

                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

            </div>

        </div>

    </div>

    </div>


    <script>


        function clickC(param) {
            var x=$(param).attr('data-id')
            $('#id').val(x)
            $('#convertModal').modal({'show':true})
        }
        function clickE(param) {
            var x=$(param).attr('data-id')
            //alert($(param).attr('data-id'))
            $("#res").html("");

            $('#convertEModal').modal({'show':true})
            $.ajax({
                url : '{{ path('afficheajax_cheque') }}',
                type: 'get',
                data : {'id':x }
            }).done(function(response){

                $("#res").html(response);
            });
        }

    </script>
{% endblock %}
